.DS_Store
linnea.sublime-workspace
linnea/UnitTesting/__pycache__/all_examples.cpython-36.pyc
linnea/__pycache__/CSEs.cpython-36.pyc
linnea/__pycache__/__main__.cpython-36.pyc
linnea/__pycache__/blocked_operations.cpython-36.pyc
linnea/__pycache__/config.cpython-35.pyc
linnea/__pycache__/config.cpython-36.pyc
linnea/__pycache__/equations.cpython-36.pyc
linnea/__pycache__/examples.cpython-36.pyc
linnea/__pycache__/gst.cpython-36.pyc
linnea/__pycache__/matrix_chain_solver.cpython-36.pyc
linnea/__pycache__/matrix_sum.cpython-36.pyc
linnea/__pycache__/partitioning.cpython-36.pyc
linnea/__pycache__/special_properties.cpython-36.pyc
linnea/__pycache__/temporaries.cpython-36.pyc
linnea/__pycache__/trick_patterns.cpython-36.pyc
linnea/__pycache__/utils.cpython-36.pyc
linnea/__pycache__/validity.cpython-36.pyc
linnea/algebra/__pycache__/InferenceOfProperties.cpython-36.pyc
linnea/algebra/__pycache__/consistency.cpython-36.pyc
linnea/algebra/__pycache__/equations.cpython-36.pyc
linnea/algebra/__pycache__/expression.cpython-35.pyc
linnea/algebra/__pycache__/expression.cpython-36.pyc
linnea/algebra/__pycache__/properties.cpython-36.pyc
linnea/algebra/__pycache__/property_DNs.cpython-36.pyc
linnea/algebra/__pycache__/representations.cpython-36.pyc
linnea/algebra/__pycache__/transformations.cpython-36.pyc
linnea/algebra/__pycache__/utils.cpython-36.pyc
linnea/algebra/__pycache__/validity.cpython-36.pyc
linnea/code_generation/__pycache__/experiments.cpython-36.pyc
linnea/code_generation/__pycache__/utils.cpython-36.pyc
linnea/code_generation/memory/__pycache__/memory.cpython-35.pyc
linnea/code_generation/memory/__pycache__/memory.cpython-36.pyc
linnea/code_generation/memory/__pycache__/storage_format.cpython-35.pyc
linnea/code_generation/memory/__pycache__/storage_format.cpython-36.pyc
linnea/code_generation/memory/__pycache__/storage_format_conversions.cpython-35.pyc
linnea/code_generation/memory/__pycache__/storage_format_conversions.cpython-36.pyc
linnea/derivation/__pycache__/CSEs.cpython-36.pyc
linnea/derivation/__pycache__/blocked_operations.cpython-36.pyc
linnea/derivation/__pycache__/gst.cpython-36.pyc
linnea/derivation/__pycache__/matrix_chain_solver.cpython-36.pyc
linnea/derivation/__pycache__/matrix_chain_solver_new.cpython-36.pyc
linnea/derivation/__pycache__/matrix_sum.cpython-36.pyc
linnea/derivation/__pycache__/partitioning.cpython-36.pyc
linnea/derivation/__pycache__/special_properties.cpython-36.pyc
linnea/derivation/__pycache__/trick_patterns.cpython-36.pyc
linnea/derivation/__pycache__/tricks.cpython-36.pyc
linnea/derivation/__pycache__/utils.cpython-36.pyc
linnea/derivation/graph/__pycache__/base.cpython-36.pyc
linnea/derivation/graph/__pycache__/clak.cpython-35.pyc
linnea/derivation/graph/__pycache__/clak.cpython-36.pyc
linnea/derivation/graph/__pycache__/constructive.cpython-36.pyc
linnea/derivation/graph/__pycache__/exhaustive.cpython-36.pyc
linnea/derivation/graph/__pycache__/matrix_chain.cpython-36.pyc
linnea/derivation/graph/__pycache__/node.cpython-36.pyc
linnea/derivation/graph/__pycache__/properties.cpython-36.pyc
linnea/derivation/graph/__pycache__/utils.cpython-36.pyc
linnea/derivation/graph/base/__pycache__/base.cpython-36.pyc
linnea/derivation/graph/base/__pycache__/derivation.cpython-36.pyc
linnea/derivation/graph/base/__pycache__/expression.cpython-36.pyc
linnea/frontend/__pycache__/AST_translation.cpython-36.pyc
linnea/frontend/__pycache__/parser.cpython-36.pyc
linnea/kernels/julia/__pycache__/collections.cpython-36.pyc
linnea/kernels/julia/__pycache__/factorizations.cpython-36.pyc
linnea/kernels/julia/__pycache__/reductions.cpython-36.pyc
linnea/kernels/utils/__pycache__/factorizations.cpython-36.pyc
linnea/kernels/utils/__pycache__/general.cpython-36.pyc
linnea/kernels/utils/__pycache__/reductions.cpython-36.pyc
linnea/kernels/utils/__pycache__/selector.cpython-36.pyc